@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* CUSTOM PROPERTIES*/
:root {
  --blue: #000527;
  --white: #fff;
  --bento-shadow: #7886ff;
}

/* NAVBAR SECTION */
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 3;
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;

  & .navbar__header {
    min-height: 90px;

    & .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      max-width: 1300px;
      padding: 0 10px;
    }
  }

  & .navbar__list {
    & ul {
      z-index: 1;
      position: absolute;
      background-color: var(--blue);
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      transform: translate(100%, 0);
      transition: .5s ease transform;
      margin-bottom: 0;

      &.active {
        transform: translate(0, 0);
      }
    }

    & ul li:hover a::after {
      letter-spacing: initial;
      transform: translate(-50%, -50%) scale(1);
    }

    & ul a {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .2rem;
      color: #fff;
      text-transform: uppercase;
      padding: 20px;
      display: inline-block;
      text-decoration: none;

      &::after {
        content: attr(data-after);
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        font-size: 13rem;
        color: rgb(240, 248, 255, 0.021);
        transition: .4s ease letter-spacing;
        z-index: -1;
      }
    }
  }

  /* HAMBURGER */
  & .navbar__hamburger {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(.8);
    margin-right: 20px;

    &.active .navbar__bar::before {
      bottom: 0;
    }

    &.active .navbar__bar::after {
      top: 0;
    }

    & .navbar__bar {
      position: relative;
      width: 30px;
      height: 2px;
      background-color: #fff;
      z-index: -1;
    }
  }

  .navbar__bar::after,
  .navbar__bar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    transition: .3s ease;
    transition-property: top, bottom;
  }

  .navbar__bar::after {
    top: 8px;
  }

  ::before {
    bottom: 8px;
  }

  /* HAMBURGER EFFECT */
  & .navbar__hamburger::after {
    z-index: 6;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: pulse 1s linear both infinite;
  }
}

#carousel-section {
  overflow: hidden;

  & .carousel {
    & img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }

    & .carousel-inner {
      height: 100vh;
      min-width: 100vw;
    }
  }

  & .carousel-indicators.deactive {
    display: none;
  }
}

/* SUMMARY ABOUT US */
#summary-section {
  position: relative;
  min-height: 90vh;
  max-width: 100vw;
  font-size: 20px;
  color: var(--white);
  line-height: 1.4;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(/images/home-bg-1.png);
    background-size: 100vw calc(100% + 180px);
    background-position: 0 -171px;
    background-repeat: no-repeat;
    opacity: .5;
  }

  & .summary__container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80vw; /* ADD DESKTOP */
    max-width: 1300px;
    text-align: center;

    & h1 {
      display: block;
      font-size: 42px;
      font-weight: 600;
      line-height: 1.22;
    }

    & .summary__text {
      text-align: left;

      & p:first-child {
        margin-bottom: 2.5rem;
      }

      & strong {
        font-weight: bold;
      }
    }
  }
}

#bentos {
  padding: 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,#0e1435 0%, #000527 15%, #1682c7 156%);

  & .bentos__container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 30rem;
    gap: 35px;

    & article {
      position: relative;
      font-size: 15px;
      box-shadow: 0 0 20px 0px var(--bento-shadow);
      border-radius: 15px;
      overflow: hidden;

      & .bentos__image {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url(/images/bento-house.webp);
        background-position: center;
        background-size: cover;
        transition: scale 1s ease-in-out;
        z-index: 0;
      }

      & .bentos__gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 40%,
          rgba(0, 0, 0, 0.8) 100%
        );
        z-index: 1;
      }

      & .bentos__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        padding: 6px;
        z-index: 2;
        color: #fff;
        padding: 20px;

        &:hover + .bentos__image {
          scale: 1.2;
        }

        & h2 {
          font-weight: bold;
          font-size: 30px;
          text-transform: uppercase;
        }

        & h3 {
          font-weight: 600;
          color: rgba(167, 187, 212, 8);
        }
      }
    }

    & article:nth-child(1) {
      grid-column: span 10;
    }

    & article:nth-child(2) {
      grid-column: span 10;
      & .bentos__image {
        background-image: url(/images/bento-hotel.webp);
      }
    }
    & article:nth-child(3) {
      grid-column: span 10;
      & .bentos__image {
        background-image: url(/images/bento-restaurant.webp);
      }
    }
    & article:nth-child(4) {
      grid-column: span 10;
      & .bentos__image {
        background-image: url(/images/bento-office.webp);
      }
    }
  }
}

/* TABLET */
@media (min-width: 768px) {
  /*TODO: ADD NAVBAR TABLET DESIGN IF NEEDED*/

  /* SUMMARY ABOUT US */
  #summary-section {
    min-height: 66vh;
    padding: 100px 0;

    & .summary__container {
      padding: 0;
    }
  }

  /* BENTO DESIGN */
  #bentos {
    & .bentos__container {
      gap: 30px;
      width: 90vw;
      padding-top: 100px;
  
      & article:nth-child(1) {
        grid-column: span 4;
      }
  
      & article:nth-child(2) {
        grid-column: span 6;
      }
      & article:nth-child(3) {
        grid-column: span 6;
      }
      & article:nth-child(4) {
        grid-column: span 4;
      }
    }
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  #header {
    & .navbar__list ul {
      position: initial;
      height: auto;
      width: auto;
      background-color: transparent;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transform: initial;
      transition: initial;

      & a {
        &::after {
          display: none;
        }
      }
    }

    /* HAMBURGER */
    .navbar__hamburger {
      display: none;
    }
  }

  #carousel-section {
    & .carousel-indicators.deactive {
      display: flex;
    }

    & .carousel {
      & img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        aspect-ratio: none;
      }
    }
  }

  /* SUMMARY ABOUT US */
  #summary-section {
    min-height: 100vh;
    
    &::before {
      background-size: 100vw calc(100% + 400px);
      background-position: 0 -314px;
    }

    & .summary__container {
      padding: 0;
      width: 42.3vw;
      max-width: 1300px;
    }
  }

  /* BENTO DESIGN */
  /* BENTO DESIGN */
  #bentos {
    & .bentos__container {
      gap: 30px;
      max-width: 1300px;
    }
  }
}

/* KEYFRAMES */
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes blur {
  to {
    box-shadow: 0px 5px 50px -5px hsl(0, 0, 0, 0.1) 0px 5px 0px 1px hsl(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0 / .3);
    backdrop-filter: blur(10px);
  }
}
